img.o-viewer {
  width: 700px;
  height: 450px;
}

div.o-viewer {
  position: relative;
  width: 700px;
  height: 450px;
  overflow: hidden;
  will-change: auto;
}

div.o-viewer.o-viewer-fullScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

div.o-viewer canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  will-change: auto;
}

div.o-viewer canvas:hover {
  cursor: -webkit-grab;
}
div.o-viewer canvas:active {
  cursor: -webkit-grabbing;
}

div.o-viewer .o-viewer-compass {
  /* compass */
  position: absolute;
  left: 3%;
  top: 3%;
  width: 3%;
}

div.o-viewer .o-viewer-fs-btn {
  /* fullScreen btn */
  position: absolute;
  top: 3%;
  right: 3%;
  cursor: pointer;
}

div.o-viewer .o-viewer-lm-btn {
  /* lockMove btn */
  position: absolute;
  bottom: 3%;
  left: 3%;
  cursor: pointer;
}

div.o-viewer .o-viewer-btn {
  cursor: pointer;
}

div.o-viewer .o-viewer-control {
  width: 7%;
  height: 9.5%;
  cursor: pointer;
}

@media (orientation: portrait) {
  div.o-viewer.o-viewer-fullScreen .o-viewer-control {
    width: 13%;
    height: 6%;
  }
}

@media (aspect-ratio: 1/1) {
  div.o-viewer .o-viewer-control {
    width: 5%;
    height: 5%;
  }
}

div.o-viewer .o-viewer-control svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  fill: rgba(255, 255, 255, 0.58);
}

div.o-viewer .o-viewer-compass svg{
  stroke : rgba(255, 255, 255, 0.58);
}

div.o-viewer .o-viewer-mark {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

div.o-viewer .o-viewer-cover {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 29, 29, 0.67);
  cursor: pointer;
}

div.o-viewer .o-viewer-cover .o-viewer-cover-logo {
  position: absolute;
  fill: rgba(255, 255, 255, 0.58);
  width: 20%;
  left: 40%;
  top: 35%;
  will-change: auto;
}
